---
layout: default
---

{% for post in site.posts limit:20 %}
<div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-braun tag-dieter-rams has-featured-image">
  {% if post.featured-media %}
  <div class="featured-media">
    <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark" title="{{ post.title }}">
      <img src="post.featured-media" class="attachment-post-image wp-post-image" alt="featured image">
      <div class="media-caption-container">
        <p class="media-caption">{{ post.featured-caption }}</p>
      </div>
    </a>
  </div>
  {% endif %}

  <div class="post-inner">
    <div class="post-header">
      <h2 class="post-title">
        <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark" title="{{ post.title}}">{{ post.title }}</a>
      </h2>
      <div class="post-meta">
        <span class="post-date"><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title}}">{{ post.date | date: "%b %-d, %Y" }}</a></span>
      </div>
    </div>

    <div class="post-content">
      {% if post.content contains "<!-- more -->" %}
        {{ post.content | split:"<!-- more -->" | first % }}
      {% else %}
        {{ post.content | truncatewords:120 }}
      {% endif %}
      <p><a href="{{ post.url | prepend: site.baseurl }}" class="more-link">Continue reading</a></p>
    </div>
    <div class="clear"></div>
  </div>

</div>
{% endfor %}
