<!DOCTYPE html>
<html lang="ko">

  {% include head.html %}

  <body class="home blog has-featured-image">
    <div class="wrapper">
      {% include sidebar.html %}

      <div class="content">
        <div class="posts">
          {{ content }}
        </div>

        <div class="archive-nav">
          {% if page.previous.url %} 
           <a href="{{page.previous.url}}" title="{{page.previous.title}}" class="post-nav-older">« {{page.previous.title}}</a>
          {% endif %} 
          {% if page.next.url %}
          <a class="post-nav-newer" title="{{page.next.title}}" href="{{page.next.url}}">{{page.next.title}} »</a>
          {% endif %}
          <div class="clear"></div>

        </div> <!-- /post-nav archive-nav -->

        {% include footer.html %}

      </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ '/js/global.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
