---
layout: default
---
<div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-braun tag-dieter-rams has-featured-image">
  <div class="post-inner">
    <div class="post-header">
      <h2 class="post-title">
        <a href="{{ page.url | prepend: site.baseurl }}" rel="bookmark" title="{{ page.title}}">{{ page.title }}</a>
      </h2>
    </div> <!-- /post-header -->

    <div class="post-content">
      {{ content }}
    </div>
    <div class="clear"></div>
  </div>

</div>
